$base-font-family: 'Roboto', sans-serif;

$background-color: #F7F7F7;
$social-navigation-background-color: #222222;
$brand-color: #7e0000;

$footer-background-color: #222222;
$footer-background-darken-color: #111111;
$footer-text-color: #eaeaea;
