{{blok._editable}}
<main id="main" role="main" class="patchnote uk-margin-large-bottom">
  <article class="uk-grid">
    <div class="{% if blok.disable_sidebar == blank %}uk-width-medium-2-3{% else%}uk-width-1-1{% endif %} content">
  
      {% for item in blok.content %}
        {% include item.component with blok: item %}
      {% endfor %}

    </div>

    {% if blok.disable_sidebar == blank %}
      {% include 'sidebar' %}
    {% endif %}
  </article>
</main>