<footer class="uk-container uk-container-center footer">
  <div class="uk-grid">
    <div class="uk-width-medium-1-3">
      <img src="https://a.storyblok.com/f/40480/3da23b18bd/surivivethis_logo_white.png" alt="">
    </div>
    <div class="uk-width-medium-1-3">
      Survivethis ist eine Gaming-Newsseite, die sich auf Survival- und Horrorspiele konzentriert, auch wenn hin und wieder andere interessante Titel einen Platz bei uns finden. Unser Ziel ist es, die weltweite Survival-Community weiter auszubauen und jeden Leser mit spannenden News, Guides und Reviews zum Thema zu versorgen.
    </div>
    <div class="uk-width-medium-1-3"></div>
  </div>
</footer>
