<nav class="navigation">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Games</a></li>
    <li><a href="#">Guides</a></li>
    <li><a href="#">Reviews</a></li>
    <li><a href="#">Maps</a></li>
  </ul>
</nav>
