<nav class="uk-container uk-container-center social_navigation uk-clearfix {{class}}">
  <ul>
    <li><a href="#">Über Survivethis</a></li>
    <li><a href="#">Das Team</a></li>
    <li><a href="#">Team beitreten!</a></li>
    <li><a href="#">Mediadaten</a></li>
    <li><a href="#">Kontakt</a></li>
    <li><a href="#">Impressum | Datenschutz</a></li>
  </ul>
</nav>
