<nav class="uk-container uk-container-center social_navigation uk-clearfix {{class}}">
  <ul>
    {% if class == blank %}
      {% assign to_iterate = global.content.top_navigation %}
    {% else %}
      {% assign to_iterate = global.content.footer_navigation %}
    {% endif %}
    
    {% for nav_item in to_iterate %}
    <li><a href="{{nav_item.link|url}}">{{nav_item.display_name}}</a></li>
    {% endfor %}
  </ul>
</nav>
