body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  color: #000;

  background-color: #000;
  background-image: url('https://img2.storyblok.com/1800x/f/40480/751d4e531c/bildschirmfoto-2017-06-12-um-13-32-08.png');
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.body--floaded {
  body {
    font-family: $base-font-family;
  }

  h1, h2, h3, h4, h5 {
    font-family: $base-font-family;
  }
}
